body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c404c;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(-225deg, #f4f4d1 0%, #f8b82e 56%, #0daba2 100%);
}

header {
  font-size: 20px;
  letter-spacing: 0.1em;
}

main p {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
